<html>
<meta >
<head>
<title>ICGC PanCancer Status</title>
<meta charset="utf-8" http-equiv="refresh" content="600">
</head>
<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <!-- I recommend you host this file on your own, since this will change without warning -->
  <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34523087-2', 'pancancer.info');
  ga('send', 'pageview');

</script>
  <h2>ICGC/TGCA PanCancer Status</h2>

  <p>The map below shows the number of specimens whose unaligned, lane-level WGS reads have been uploaded to a GNOS repository at one of the PanCancer clouds. Typically there are two specimens per donor, a tumor and a normal, and we expect approximately 3,000 specimens from ICGC and 2,000 from TCGA. It also
    shows the count of those specimens aligned using the project's BWA-Mem workflow.  For more information see our
    <a href="https://wiki.oicr.on.ca/display/PANCANCER/PANCANCER+Home">Wiki Space</a>.</p>

<h3>Upload & Alignment</h3>

<p>
<table border="1">
<tr><th></th><th><a href="gtrepo-bsc.log">Barcelona</a></th><th><a href="gtrepo-osdc.log">Chicago</a></th><th><a href="gtrepo-dkfz.log">Heidelberg</a></th><th><a href="gtrepo-ebi.log">London</a></th><th><a href="gtrepo-etri.log">Santa Cruz</a></th><th><a href="gtrepo-etri.log">Seoul</a></th><th><a href="gtrepo-riken.log">Tokyo</a></th><th>Total</th><th>% of total.specimens</th></tr>
<tr><td><b>Aligned</b></td><td>gtrepo-bsc.aligned</td><td>gtrepo-osdc.aligned</td><td>gtrepo-dkfz.aligned</td><td>gtrepo-ebi.aligned</td><td>gtrepo-cghub.aligned</td><td>gtrepo-etri.aligned</td><td>gtrepo-riken.aligned</td><td>total.aligned</td><td>total.aligned.percent</td></tr>
<tr><td><b>Unaligned</b></td><td>gtrepo-bsc.unaligned</td><td>gtrepo-osdc.unaligned</td><td>gtrepo-dkfz.unaligned</td><td>gtrepo-ebi.unaligned</td><td>NA</td><td>gtrepo-etri.unaligned</td><td>gtrepo-riken.unaligned</td><td>total.unaligned</td><td>total.unaligned.percent</td></tr>
</table>
</p>

<div id="container1" style="position:relative; width:800px; height:500px"></div>

     <script>
      var colors = d3.scale.category10();
       //basic map config with custom fills, mercator projection
      var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container1'),
        geographyConfig: {
          popupOnHover: false,
          highlightOnHover: false,
          highlightFillColor: '#ABDDA4',
        },
        projection: 'mercator',
        fills: {defaultFill: "#ABDDA4",
                gt50: colors(Math.random() * 20),
                gt60: "#63AFD0",
                gt70: "#0772A1",}
      })

     //bubbles, custom popup on hover template
     map.bubbles([
       {name: "Chicago", total: 'gtrepo-osdc.unaligned', aligned: 'gtrepo-osdc.aligned', latitude: 41.891519, longitude: -87.629159, radius: gtrepo-osdc.log.unaligned, fillKey: 'gt60'},
       {name: "Chicago", total: 'gtrepo-osdc.unaligned', aligned: 'gtrepo-osdc.aligned', latitude: 41.891519, longitude: -87.629159, radius: gtrepo-osdc.log.aligned, fillKey: 'gt70'},

       {name: "Barcelona", total: 'gtrepo-bsc.unaligned', aligned: 'gtrepo-bsc.aligned', latitude: 41.378691, longitude: 2.175547, radius: gtrepo-bsc.log.unaligned, fillKey: 'gt60'},
       {name: "Barcelona", total: 'gtrepo-bsc.unaligned', aligned: 'gtrepo-bsc.aligned', latitude: 41.378691, longitude: 2.175547, radius: gtrepo-bsc.log.aligned, fillKey: 'gt70'},
 
       {name: "Tokyo", total: 'gtrepo-riken.unaligned', aligned: 'gtrepo-riken.aligned', latitude: 35.684219, longitude: 139.755020, radius: gtrepo-riken.log.unaligned, fillKey: 'gt60'},
       {name: "Tokyo", total: 'gtrepo-riken.unaligned', aligned: 'gtrepo-riken.aligned', latitude: 35.684219, longitude: 139.755020, radius: gtrepo-riken.log.aligned, fillKey: 'gt70'},

       {name: "Seoul", total: 'gtrepo-etri.unaligned', aligned: 'gtrepo-etri.aligned', latitude: 37.553397, longitude: 126.980624, radius: gtrepo-etri.log.unaligned, fillKey: 'gt60'},
       {name: "Seoul", total: 'gtrepo-etri.unaligned', aligned: 'gtrepo-etri.aligned', latitude: 37.553397, longitude: 126.980624, radius: gtrepo-etri.log.aligned, fillKey: 'gt70'},

       {name: "Heidelberg", total: 'gtrepo-dkfz.unaligned', aligned: 'gtrepo-dkfz.aligned', latitude: 49.403159, longitude: 8.676061, radius: gtrepo-dkfz.log.unaligned, fillKey: 'gt60'},
       {name: "Heidelberg", total: 'gtrepo-dkfz.unaligned', aligned: 'gtrepo-dkfz.aligned', latitude: 49.403159, longitude: 8.676061, radius: gtrepo-dkfz.log.aligned, fillKey: 'gt70'},

       {name: "London", total: 'gtrepo-ebi.unaligned', aligned: 'gtrepo-ebi.aligned', latitude: 51.507919, longitude: -0.123571, radius: gtrepo-ebi.log.unaligned, fillKey: 'gt60'},
       {name: "London", total: 'gtrepo-ebi.unaligned', aligned: 'gtrepo-ebi.aligned', latitude: 51.507919, longitude: -0.123571, radius: gtrepo-ebi.log.aligned, fillKey: 'gt70'},

       {name: "Santa Cruz", total: 'NA', aligned: 'gtrepo-cghub.aligned', latitude: 36.971944, longitude: -122.026389, radius: gtrepo-cghub.log.aligned, fillKey: 'gt60'},

     ], {
       popupTemplate: function(geo, data) {
         return "<div class='hoverinfo'>"+data.name+"<br/>Aligned: " + data.aligned + " Total: " +data.total+ "</div>";
       }
     });
     </script>
</body>
</html>
